<ion-header>
    <ion-navbar no-border-bottom>
    
        <ion-title> {{categorie}} </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
    
    <ion-list>
        
        <ion-card *ngFor="let item of films" [hidden]="films.count == 0 " (click)="goToDetail(item)" >
            
            <div *ngFor="let i of item.genre" [hidden]=" i != categorie " >   
                <img [src]="item.banner">
            </div>

        </ion-card>
    </ion-list>    
    <ion-list-header [hidden]="films.length > 0">
        Pas films !
    </ion-list-header>


</ion-content>