page-films-detail {
    
    .content{
        background-color: #4a9cac;
    }
    
    ion-row {
        background-color: #f53d3d;
    }
    
    .item,.card-header,.card {
        background-color: white;
    }
}